@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@keyframes glow {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes swipeSign {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(65vw);
  }
}
body {
  background-color: #000;
}

.titleBox {
  position: relative;
}
@media (max-width: 821px) {
  .titleBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
  }
}
.titleBox .en {
  font-size: 1.6666666667vw;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: #736357;
  font-weight: 500;
  font-family: "Lora", serif;
  white-space: nowrap;
}
.titleBox .en span {
  font-family: "Lora", serif;
}
@media (max-width: 821px) {
  .titleBox .en {
    font-size: 4.6875vw;
  }
}
.titleBox .ch {
  font-size: 1.875vw;
  font-weight: 500;
  font-family: "Noto Serif TC", serif;
  letter-spacing: 0.08em;
  color: #232322;
}
.titleBox .ch span {
  font-family: "Noto Serif TC", serif;
}
@media (max-width: 821px) {
  .titleBox .ch {
    font-size: 5.46875vw;
    text-align: center;
  }
}

.paraBox {
  margin-top: 2vw;
}
@media (max-width: 821px) {
  .paraBox {
    margin-top: 4vw;
  }
}
.paraBox .para {
  font-size: 0.9375vw;
  color: #565554;
  letter-spacing: 0.08em;
  line-height: 2;
  font-weight: 500;
  font-family: "Microsoft JhengHei", serif;
  text-align: justify;
}
@media (max-width: 821px) {
  .paraBox .para {
    font-size: 4.1666666667vw;
  }
}
@media (max-width: 821px) {
  .paraBox .para br {
    display: none !important;
  }
}
.paraBox .line {
  display: block;
  content: "";
  position: absolute;
  width: 2vw;
  height: 1px;
  top: -1vw;
  background-color: rgba(0, 0, 0, 0.4509803922);
}
@media (max-width: 821px) {
  .paraBox .line {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6%;
    top: -2.5vw;
  }
}

.seagullBox {
  position: absolute;
}
.seagullBox img {
  position: absolute;
}
.seagullBox img:first-child {
  width: 2vw;
  left: 0;
  top: 0;
}
@media (max-width: 821px) {
  .seagullBox img:first-child {
    width: 5vw;
  }
}
.seagullBox img:nth-child(2) {
  width: 1.2vw;
  left: 1.8vw;
  top: -0.3vw;
}
@media (max-width: 821px) {
  .seagullBox img:nth-child(2) {
    width: 4.5vw;
    left: 3vw;
    top: -2vw;
  }
}
.seagullBox img:nth-child(3) {
  width: 1.1vw;
  left: 2.2vw;
  top: 0.6vw;
}
@media (max-width: 821px) {
  .seagullBox img:nth-child(3) {
    width: 4vw;
    left: 4.5vw;
    top: 2vw;
  }
}
.seagullBox img:nth-child(4) {
  width: 1vw;
  left: 3vw;
  top: 1.3vw;
}
@media (max-width: 821px) {
  .seagullBox img:nth-child(4) {
    width: 3.5vw;
    left: 9vw;
    top: 3.5vw;
  }
}

.first-page {
  position: relative;
  background-color: #000;
  overflow: hidden;
}
.first-page video {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .first-page video {
    height: 190vw;
  }
}
.first-page img {
  display: block;
  width: 100%;
}
.first-page .speaker {
  width: 1.5vw;
  position: absolute;
  right: 1.5vw;
  bottom: 1.5vw;
  cursor: pointer;
}
@media (max-width: 821px) {
  .first-page .speaker {
    width: 5vw;
    right: 3vw;
    bottom: 3.5vw;
  }
}
@media (max-width: 500px) {
  .first-page .speaker {
    width: 6.5vw;
  }
}
.first-page .speaker img {
  display: none;
  width: 100%;
  pointer-events: none;
}
.first-page .speaker .active {
  display: block;
  width: 100%;
}

.second-half-page {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #000;
  overflow: hidden;
}
@media (max-width: 821px) {
  .second-half-page {
    flex-direction: column;
  }
}
.second-half-page > div {
  position: relative;
  width: 50%;
}
@media (max-width: 821px) {
  .second-half-page > div {
    width: 100%;
  }
}
.second-half-page > div .imgBox {
  width: 100%;
}
@media (max-width: 821px) {
  .second-half-page > div .imgBox {
    height: 100%;
  }
}
.second-half-page > div .imgBox img {
  display: block;
  width: 100%;
  height: 48.9583333333vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 821px) {
  .second-half-page > div .imgBox img {
    height: 100%;
    -o-object-position: center 0%;
       object-position: center 0%;
  }
}
.second-half-page > div .titleBox {
  position: absolute;
  bottom: 14vw;
  left: 5.5vw;
}
@media (max-width: 821px) {
  .second-half-page > div .titleBox {
    bottom: 8vw;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%;
  }
}
.second-half-page > div .titleBox h2,
.second-half-page > div .titleBox p {
  color: #fff !important;
}
.second-half-page > div .titleBox .paraBox .line {
  background-color: rgba(255, 255, 255, 0.5254901961);
}
@media (max-width: 821px) {
  .second-half-page .left {
    height: 101.0416666667vw;
  }
}
@media (max-width: 821px) {
  .second-half-page .right {
    order: -1;
    height: 78.3854166667vw;
  }
}
.second-half-page .maoyoung {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 8.1770833333vw;
  left: 20.9895833333vw;
  width: 8.2682291667vw;
}
@media (max-width: 821px) {
  .second-half-page .maoyoung {
    width: 29.9479166667vw;
    top: 63.5vw;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.second-half-page .maoyoung img {
  width: 100%;
  height: auto;
}
.second-half-page .maoyoung > :nth-child(1) {
  width: 90%;
  margin-bottom: 0.5vw;
}
@media (max-width: 821px) {
  .second-half-page .maoyoung > :nth-child(1) {
    margin-bottom: 3vw;
  }
}

.second-page {
  position: relative;
  width: 100%;
  height: 220vw;
  overflow: scroll;
}
.second-page .bg {
  width: 100%;
}
@media (max-width: 500px) {
  .second-page .bg {
    position: sticky;
    left: 0;
    top: 0;
    height: 500vw;
  }
}
.second-page .bg img {
  width: 100%;
  height: auto;
}
@media (max-width: 821px) {
  .second-page .bg img {
    height: 160vw;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .second-page .bg img {
    height: 220vw;
    width: 100%;
  }
}
.second-page .bg #pixi-container {
  position: absolute;
  left: 0;
  top: 1vw;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 65%, 0% 65%);
          clip-path: polygon(0 100%, 100% 100%, 100% 65%, 0% 65%);
  width: 100%;
  height: 100%;
}
@media (max-width: 821px) {
  .second-page .bg #pixi-container {
    left: 0vw;
    top: 5vw;
    height: 160vw;
    width: 100%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 62%, 0% 62%);
            clip-path: polygon(0 100%, 100% 100%, 100% 62%, 0% 62%);
  }
}
@media (max-width: 500px) {
  .second-page .bg #pixi-container {
    left: 0vw;
    top: 5vw;
    height: 220vw;
    width: 105%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 55%, 0% 55%);
            clip-path: polygon(0 100%, 100% 100%, 100% 55%, 0% 55%);
  }
}
.second-page .swiper {
  position: absolute;
  top: 38%;
  width: 80%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width: 821px) {
  .second-page .swiper {
    top: 33%;
  }
}
@media (max-width: 500px) {
  .second-page .swiper {
    top: 33.5%;
  }
}
.second-page .swiper .swiper-wrapper {
  width: 100%;
}
.second-page .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second-page .swiper .swiper-wrapper .swiper-slide p {
  font-size: 0.9375vw;
  color: #000;
  font-weight: 800;
  font-family: "Noto Serif TC", serif;
  margin-bottom: 1.2vw;
}
@media (max-width: 821px) {
  .second-page .swiper .swiper-wrapper .swiper-slide p {
    font-size: 4.6875vw;
    margin-bottom: 5vw;
  }
}
.second-page .swiper .swiper-wrapper .swiper-slide img {
  width: auto;
  height: 21.6145833333vw;
}
@media (max-width: 821px) {
  .second-page .swiper .swiper-wrapper .swiper-slide img {
    height: 87.2395833333vw;
  }
}
@media (max-width: 500px) {
  .second-page .swiper .swiper-wrapper .swiper-slide img {
    height: 95.703125vw;
  }
}
.second-page .swiper .swiper-wrapper .swiper-slide .young {
  margin-left: 0.8vw;
}
.second-page .island {
  position: absolute;
  width: 100%;
  top: 53%;
  z-index: 10;
  pointer-events: none;
}
@media (max-width: 821px) {
  .second-page .island {
    top: 63%;
    scale: 2;
  }
}
@media (max-width: 500px) {
  .second-page .island {
    top: 56.5%;
    scale: 3;
  }
}

.third-page {
  position: relative;
  width: 100%;
  background-color: #ece7e4;
  padding: 6vw 0;
}
@media (max-width: 821px) {
  .third-page {
    padding: 13.5vw 0;
  }
}
.third-page .titleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 92.5%;
  margin: 0 auto 6vw;
}
.third-page .titleBox h2 {
  margin-right: 5vw;
}
.third-page .titleBox h2:first-child {
  margin-right: 6.5vw;
}
.third-page .imgBox {
  position: relative;
  width: 92.5%;
  margin: 0 auto;
}
@media (max-width: 821px) {
  .third-page .imgBox {
    overflow-x: scroll;
  }
}
.third-page .imgBox > img {
  width: 100%;
  height: auto;
}
@media (max-width: 821px) {
  .third-page .imgBox > img {
    width: auto;
    height: 126.7057291667vw;
  }
}
.third-page .imgBox .glow-wrapper {
  position: absolute;
  left: 48.7vw;
  bottom: 14vw;
  width: 1.5vw;
  height: 57%;
}
@media (max-width: 821px) {
  .third-page .imgBox .glow-wrapper {
    left: 118vw;
    width: 4vw;
    bottom: 33vw;
  }
}
@media (max-width: 500px) {
  .third-page .imgBox .glow-wrapper {
    width: 6vw;
    left: 117vw;
  }
}
.third-page .imgBox .hand {
  position: absolute;
  left: 85vw;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 8vw;
  height: 8vw;
  animation-name: swipeSign;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.third-page .imgBox .hand img {
  width: 100%;
  height: auto;
}
.third-page .seagullBox {
  left: 20vw;
  top: 8vw;
}
@media (max-width: 821px) {
  .third-page .seagullBox {
    left: 10vw;
    top: 12vw;
  }
}

.forth-page {
  position: relative;
  width: 100%;
  background-color: #ece7e4;
  padding-bottom: 6vw;
}
.forth-page .titleBox {
  display: flex;
  align-items: center;
  margin-left: 9.2708333333vw;
  margin-bottom: 4.5vw;
}
@media (max-width: 821px) {
  .forth-page .titleBox {
    width: 92.5%;
    margin: 0 auto;
  }
}
.forth-page .titleBox h2 {
  margin-right: 16.4583333333vw;
}
@media (max-width: 821px) {
  .forth-page .titleBox h2 {
    margin: 0;
  }
}
.forth-page .titleBox .paraBox .line {
  left: 0;
}
.forth-page .swiper {
  position: relative;
  width: 92.5%;
  height: 35vw;
  margin: 0 auto;
}
@media (max-width: 821px) {
  .forth-page .swiper {
    height: 75vw;
  }
}
.forth-page .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.forth-page .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  width: 28.8541666667vw;
  height: 19.2359375vw;
  transition: width 0.8s, height 0.8s, margin 0.8s;
  overflow: hidden;
}
@media (max-width: 821px) {
  .forth-page .swiper .swiper-wrapper .swiper-slide {
    width: 100% !important;
    height: 62.3697916667vw !important;
  }
}
.forth-page .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.8s;
}
.forth-page .swiper .swiper-wrapper .swiper-slide .box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  bottom: 10px;
  opacity: 0;
  transition: 2s;
  transform: translateX(50px);
}
.forth-page .swiper .swiper-wrapper .swiper-slide .box .minute {
  display: flex;
  align-items: flex-end;
  font-size: 0.7291666667vw;
  color: #fff;
}
.forth-page .swiper .swiper-wrapper .swiper-slide .box .minute span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.9791666667vw;
  height: 1.9791666667vw;
  border-radius: 50%;
  font-size: 1.875vw;
  background-color: #5e524b;
  font-weight: 100;
  font-family: "Roboto Mono", monospace;
}
@media (max-width: 821px) {
  .forth-page .swiper .swiper-wrapper .swiper-slide .box .minute span {
    font-size: 6.25vw;
    width: 7.03125vw;
    height: 7.03125vw;
  }
}
@media (max-width: 821px) {
  .forth-page .swiper .swiper-wrapper .swiper-slide .box .minute {
    font-size: 2.0833333333vw;
  }
}
.forth-page .swiper .swiper-wrapper .swiper-slide .box .thumb {
  font-size: 0.8333333333vw;
  color: #fff;
  letter-spacing: 0.1em;
}
@media (max-width: 821px) {
  .forth-page .swiper .swiper-wrapper .swiper-slide .box .thumb {
    font-size: 2.34375vw;
  }
}
.forth-page .swiper .swiper-wrapper .swiper-slide-active {
  width: 47.1875vw !important;
  height: 31.6666666667vw;
  z-index: 20;
  margin-left: -10vw;
}
.forth-page .swiper .swiper-wrapper .swiper-slide-active .box {
  opacity: 1;
  transform: translateX(0);
}
@media (max-width: 821px) {
  .forth-page .swiper .swiper-wrapper .swiper-slide-active {
    width: 100% !important;
    height: 62.3697916667vw !important;
    margin: 0;
  }
}
.forth-page .swiper .prev,
.forth-page .swiper .next {
  position: absolute;
  z-index: 20;
  width: 2.2vw;
  height: auto;
  top: 0;
  bottom: 0;
  margin: auto 0;
  cursor: pointer;
}
@media (max-width: 821px) {
  .forth-page .swiper .prev,
  .forth-page .swiper .next {
    width: 11vw;
    padding: 2vw;
  }
}
.forth-page .swiper .prev {
  left: 24.5%;
}
@media (max-width: 821px) {
  .forth-page .swiper .prev {
    left: 2%;
  }
}
.forth-page .swiper .next {
  right: 28%;
}
@media (max-width: 821px) {
  .forth-page .swiper .next {
    right: 2%;
  }
}

.fifth-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: #ece7e4;
  height: 50vw;
}
@media (max-width: 821px) {
  .fifth-page {
    height: auto;
    padding-bottom: 16vw;
  }
}
.fifth-page .titleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 92.5%;
  margin: 0 auto 4.5vw;
}
@media (max-width: 821px) {
  .fifth-page .titleBox {
    align-items: center;
  }
}
.fifth-page .titleBox .paraBox .line {
  right: 0;
}
.fifth-page .bg {
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(60, 1fr);
  position: absolute;
  left: 7vw;
  top: 13vw;
  width: 59.1848958333vw;
  height: 34.7916666667vw;
}
@media (max-width: 821px) {
  .fifth-page .bg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    width: 92.5%;
    margin: 0 auto 10vw;
    height: auto;
    left: auto;
    top: auto;
  }
}
.fifth-page .bg .imgBox {
  overflow: hidden;
}
@media (max-width: 821px) {
  .fifth-page .bg .imgBox {
    width: 49%;
    height: 30.4479166667vw;
    margin-bottom: 5vw;
  }
}
.fifth-page .bg .imgBox img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fifth-page .bg .imgBox:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 24;
  grid-row-start: 1;
  grid-row-end: 21;
}
.fifth-page .bg .imgBox:nth-child(2) {
  grid-column-start: 8;
  grid-column-end: 24;
  grid-row-start: 22;
  grid-row-end: 36;
}
.fifth-page .bg .imgBox:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 30;
  grid-row-start: 37;
  grid-row-end: 60;
}
.fifth-page .bg .imgBox:nth-child(7) {
  grid-column-start: 25;
  grid-column-end: 59;
  grid-row-start: 7;
  grid-row-end: 36;
}
.fifth-page .bg .imgBox:nth-child(3) {
  grid-column-start: 31;
  grid-column-end: 48;
  grid-row-start: 37;
  grid-row-end: 52;
}
.fifth-page .bg .imgBox:nth-child(4) {
  grid-column-start: 60;
  grid-column-end: 77;
  grid-row-start: 22;
  grid-row-end: 36;
}
.fifth-page .bg .imgBox:nth-child(6) {
  grid-column-start: 49;
  grid-column-end: 71;
  grid-row-start: 37;
  grid-row-end: 56;
}
.fifth-page > :nth-child(3) {
  margin-bottom: 5vw;
  width: 95%;
}
.fifth-page > :nth-child(3) > :nth-child(1) {
  position: relative;
  margin-right: 9vw;
}
@media (max-width: 821px) {
  .fifth-page > :nth-child(3) > :nth-child(1) {
    margin-right: 25vw;
  }
}
.fifth-page > :nth-child(3) > :nth-child(1) > :last-child::after {
  display: block;
  content: "";
  position: absolute;
  right: -4.5vw;
  bottom: 0;
  background-image: url(../img/svg/walk.svg);
  width: 2.6953125vw;
  height: 5.1614583333vw;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (max-width: 821px) {
  .fifth-page > :nth-child(3) > :nth-child(1) > :last-child::after {
    width: 6.73828125vw;
    height: 12.9036458333vw;
    right: -24vw;
  }
}

.sixth-page {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10vw 2.5% 0;
  background-color: #ece7e4;
  height: 57vw;
  overflow: hidden;
}
@media (max-width: 821px) {
  .sixth-page {
    flex-direction: column;
    height: auto;
    padding: 30vw 0 12vw;
  }
}
.sixth-page .imgBox {
  position: relative;
  width: 65%;
  height: 80%;
  overflow: hidden;
}
@media (max-width: 821px) {
  .sixth-page .imgBox {
    width: 92.5%;
    height: 56.1848958333vw;
    margin-top: 6vw;
  }
}
.sixth-page .imgBox .box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sixth-page .imgBox .box span {
  position: absolute;
  bottom: 10px;
  font-size: 0.8333333333vw;
  color: #fff;
  letter-spacing: 0.1em;
}
@media (max-width: 821px) {
  .sixth-page .imgBox .box span {
    font-size: 2.34375vw;
  }
}
.sixth-page .imgBox .box .sun-thumb {
  left: 10px;
}
.sixth-page .imgBox .box .night-thumb {
  right: 10px;
}
.sixth-page .imgBox .box img {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* for Chrome、Safari */
  -moz-user-select: none;
  /* for Mozilla、Firefox */
  z-index: 2;
}
.sixth-page .imgBox .box:nth-child(2) {
  -webkit-clip-path: polygon(0 0, 0 100%, 49.5% 100%, 49.5% 0, 0 0);
          clip-path: polygon(0 0, 0 100%, 49.5% 100%, 49.5% 0, 0 0);
}
.sixth-page .imgBox .dragBar {
  display: flex;
  justify-content: space-between;
  padding: 0.4vw;
  align-items: center;
  position: absolute;
  width: 2vw;
  height: 2vw;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 48%;
  z-index: 10;
  background-color: #fff;
  border-radius: 50%;
  filter: drop-shadow(0 0 2px #fff);
  cursor: pointer;
}
@media (max-width: 821px) {
  .sixth-page .imgBox .dragBar {
    width: 6vw;
    height: 6vw;
    padding: 0 0.8vw;
    left: 46%;
  }
}
@media (max-width: 500px) {
  .sixth-page .imgBox .dragBar {
    padding: 0 0.5vw;
  }
}
.sixth-page .imgBox .dragBar p {
  user-select: none;
  /* standard syntax */
  -webkit-user-select: none;
  /* for Chrome、Safari */
  -moz-user-select: none;
  /* for Mozilla、Firefox */
  pointer-events: none;
  white-space: nowrap;
  font-size: 0.9vw;
  color: #736357;
  font-weight: 900;
  transform: scale(0.5, 1.5);
}
@media (max-width: 821px) {
  .sixth-page .imgBox .dragBar p {
    font-size: 3.5vw;
  }
}
@media (max-width: 500px) {
  .sixth-page .imgBox .dragBar p {
    margin-top: 2vw;
  }
}
.sixth-page .imgBox .dragBar::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -50vw;
  width: 5px;
  height: 51vw;
  background-color: #fff;
}
@media (max-width: 821px) {
  .sixth-page .imgBox .dragBar::after {
    height: 100vw;
  }
}
.sixth-page > .titleBox {
  position: absolute;
  left: 3.75%;
  top: 8vw;
}
.sixth-page > .titleBox > :nth-child(2) {
  margin-left: 1.5vw;
}
@media (max-width: 821px) {
  .sixth-page > .titleBox {
    display: block;
    width: 100%;
  }
}
.sixth-page .left {
  display: flex;
  justify-content: center;
  width: 35%;
}
@media (max-width: 821px) {
  .sixth-page .left {
    width: 100%;
  }
}

.seventh-page {
  width: 100%;
  padding: 6.5vw 10%;
  background-color: #978475;
  overflow: hidden;
}
@media (max-width: 821px) {
  .seventh-page {
    padding: 13vw 3.75% 10vw;
  }
}
.seventh-page .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vw;
}
@media (max-width: 821px) {
  .seventh-page .top {
    display: block;
    margin-bottom: 5vw;
  }
}
.seventh-page .top .titleBox .en:nth-child(2) {
  margin-left: 1.2vw;
}
@media (max-width: 821px) {
  .seventh-page .top .titleBox .en:nth-child(2) {
    margin-left: 3vw;
  }
}
.seventh-page .top .titleBox h2,
.seventh-page .top .titleBox p {
  color: #fff !important;
}
.seventh-page .top .titleBox .paraBox .line {
  background-color: #fff;
}
@media (max-width: 821px) {
  .seventh-page .top .titleBox .paraBox .para br {
    display: none;
  }
}
@media (max-width: 821px) {
  .seventh-page .top > :nth-child(1) {
    display: block;
    margin-bottom: 7.5vw;
  }
}
@media (max-width: 821px) {
  .seventh-page .top > :nth-child(2) {
    width: 100%;
  }
}
.seventh-page .bottom {
  width: 100%;
}
.seventh-page .bottom .imgBox {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.seventh-page .bottom .imgBox .box {
  display: flex;
  position: relative;
  width: 55%;
}
@media (max-width: 821px) {
  .seventh-page .bottom .imgBox .box {
    width: 100%;
  }
}
.seventh-page .bottom .imgBox img {
  width: 100%;
  height: auto;
}
.seventh-page .bottom .imgBox span {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 0.9375vw;
  color: #fff;
  font-family: "Microsoft JhengHei", serif;
  letter-spacing: 0.05em;
  font-weight: 500;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
@media (max-width: 821px) {
  .seventh-page .bottom .imgBox span {
    font-size: 2.34375vw;
  }
}
.seventh-page .bottom .imgBox:not(:last-child) {
  margin-bottom: 1.5vw;
}
@media (max-width: 821px) {
  .seventh-page .bottom .imgBox:not(:last-child) {
    margin-bottom: 4.5vw;
  }
}
.seventh-page .bottom .imgBox .seventh-page-small-text {
  position: absolute;
  bottom: 0;
  right: 5vw;
  width: 30%;
}
@media (max-width: 821px) {
  .seventh-page .bottom .imgBox .seventh-page-small-text {
    display: none;
  }
}

.computer {
  display: block;
}

.phone {
  display: none;
}

.fancyBox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
.fancyBox img {
  width: 85%;
  height: auto;
}
.fancyBox .close {
  position: absolute;
  right: 70px;
  top: 50px;
  width: 2vw;
  height: 2vw;
  transform: rotate(45deg);
  cursor: pointer;
}
.fancyBox .close::after, .fancyBox .close::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #c2a357;
}
.fancyBox .close::after {
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  height: 100%;
}
.fancyBox .close::before {
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  height: 1px;
}

@media all and (max-width: 821px) {
  .computer {
    display: none;
  }
  .phone {
    display: block;
  }
  video {
    width: 100%;
    height: 143.2291666667vw;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
  .fancyBox .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 8vw;
    height: 8vw;
    transform: rotate(45deg);
    cursor: pointer;
  }
}