* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@function pxConvertor($args) {
    @return $args/1920*100vw;
}

@function pxConvertor2($args) {
    @return $args/768*100vw;
}

@mixin tablet {
    @media(max-width:821px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:500px) {
        @content;
    }
}

@keyframes glow {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 100%;
    }
}

@keyframes swipeSign {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(65vw);
    }
}

body {
    background-color: #000;
}

//config
.titleBox {
    position: relative;

    @include tablet() {

        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 90%;
    }

    .en {
        font-size: pxConvertor(32);
        line-height: 1.5em;
        letter-spacing: 0.1em;
        color: #736357;
        font-weight: 500;
        font-family: 'Lora', serif;
        white-space: nowrap;

        @include tablet() {
            font-size: pxConvertor2(36);

        }
    }

    .ch {
        font-size: pxConvertor(36);
        font-weight: 500;
        font-family: 'Noto Serif TC', serif;
        letter-spacing: 0.08em;
        color: #232322;

        @include tablet() {
            font-size: pxConvertor2(42);
            text-align: center;
        }
    }
}

.paraBox {
    margin-top: 2vw;

    @include tablet() {
        margin-top: 4vw;
    }

    .para {
        font-size: pxConvertor(18);
        color: #565554;
        letter-spacing: 0.08em;
        line-height: 2;
        font-weight: 500;
        font-family: "Microsoft JhengHei", serif;
        text-align: justify;

        @include tablet() {
            font-size: pxConvertor2(32);
        }

        br {
            @include tablet() {
                display: none !important;
            }
        }
    }

    .line {
        display: block;
        content: "";
        position: absolute;
        width: 2vw;
        height: 1px;
        top: -1vw;
        background-color: #00000073;


        @include tablet() {
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 6%;
            top: -2.5vw;
        }
    }
}

.seagullBox {
    position: absolute;

    img {
        position: absolute;

        &:first-child {
            width: 2vw;
            left: 0;
            top: 0;

            @include tablet() {
                width: 5vw;
            }
        }

        &:nth-child(2) {
            width: 1.2vw;
            left: 1.8vw;
            top: -0.3vw;

            @include tablet() {
                width: 4.5vw;
                left: 3vw;
                top: -2vw;
            }
        }

        &:nth-child(3) {
            width: 1.1vw;
            left: 2.2vw;
            top: 0.6vw;

            @include tablet() {
                width: 4vw;
                left: 4.5vw;
                top: 2vw;
            }
        }

        &:nth-child(4) {
            width: 1vw;
            left: 3vw;
            top: 1.3vw;

            @include tablet() {
                width: 3.5vw;
                left: 9vw;
                top: 3.5vw;
            }
        }
    }
}

//page
.first-page {
    position: relative;
    background-color: #000;
    overflow: hidden;

    video {
        display: block;
        width: 100%;

        @include mobile() {
            height: 190vw;
        }
    }

    img {
        display: block;
        width: 100%;
    }

    .speaker {
        width: 1.5vw;
        position: absolute;
        right: 1.5vw;
        bottom: 1.5vw;
        cursor: pointer;

        @include tablet() {

            width: 5vw;
            right: 3vw;
            bottom: 3.5vw;

        }

        @include mobile() {
            width: 6.5vw;
        }

    }

    .speaker img {
        display: none;
        width: 100%;
        pointer-events: none;
    }

    .speaker .active {
        display: block;
        width: 100%;

    }
}

.second-half-page {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #000;
    overflow: hidden;

    @include tablet() {
        flex-direction: column;
    }

    >div {
        position: relative;
        width: 50%;

        @include tablet() {
            width: 100%;

        }

        .imgBox {
            width: 100%;

            @include tablet() {
                height: 100%;
            }

            img {
                display: block;
                width: 100%;
                height: pxConvertor(940);
                object-fit: cover;

                @include tablet() {
                    height: 100%;
                    object-position: center 0%;
                }
            }
        }

        .titleBox {
            position: absolute;
            bottom: 14vw;
            left: 5.5vw;

            @include tablet() {
                bottom: 8vw;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 90%;
            }

            h2,
            p {
                color: #fff !important;
            }

            .paraBox {
                .line {
                    background-color: #ffffff86;
                }
            }
        }
    }

    .left {
        @include tablet() {
            height: pxConvertor2(776);
        }
    }

    .right {
        @include tablet() {
            order: -1;
            height: pxConvertor2(602);
        }
    }

    .maoyoung {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: pxConvertor(157);
        left: pxConvertor(403);
        width: pxConvertor(158.75);

        @include tablet() {
            width: pxConvertor2(230);
            top: 63.5vw;
            left: 0;
            right: 0;
            margin: 0 auto;
        }

        img {
            width: 100%;
            height: auto;
        }

        &> :nth-child(1) {
            width: 90%;
            margin-bottom: 0.5vw;

            @include tablet() {
                margin-bottom: 3vw;
            }
        }
    }
}

.second-page {
    position: relative;
    width: 100%;
    overflow: hidden;

    .bg {
        width: 100%;

        img {
            width: 100%;
            height: auto;

            @include tablet() {
                height: 160vw;
                width: 100%;
            }

            @include mobile() {
                height: 220vw;
                width: 100%;
            }
        }
    }

    .swiper {
        position: absolute;
        top: 38%;
        width: 80%;
        left: 0;
        right: 0;
        margin: 0 auto;

        @include tablet() {
            top: 33%;
        }

        @include mobile() {
            top: 33.5%;
        }

        .swiper-wrapper {
            width: 100%;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: pxConvertor(18);
                    color: #000;
                    font-weight: 800;
                    font-family: 'Noto Serif TC', serif;
                    margin-bottom: 1.2vw;

                    @include tablet() {
                        font-size: pxConvertor2(36);
                        margin-bottom: 5vw;
                    }
                }

                img {
                    width: auto;
                    height: pxConvertor(415);

                    @include tablet() {
                        height: pxConvertor2(670);

                    }
                }

                .young {
                    margin-left: 0.8vw;
                }


            }
        }
    }

    .island {
        position: absolute;
        width: 100%;
        top: 53%;
        z-index: 10;
        pointer-events: none;

        @include tablet() {
            top: 63%;
            scale: 2;
        }

        @include mobile() {
            top: 56.5%;
            scale: 3;
        }
    }
}

.third-page {
    position: relative;
    width: 100%;
    background-color: #ece7e4;
    padding: 6vw 0;

    @include tablet() {
        padding: 13.5vw 0;
    }

    .titleBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 92.5%;
        margin: 0 auto 6vw;

        h2 {
            margin-right: 5vw;

            &:first-child {
                margin-right: 6.5vw;
            }

        }


    }

    .imgBox {
        position: relative;
        width: 92.5%;
        margin: 0 auto;

        @include tablet() {
            overflow-x: scroll;

        }

        >img {
            width: 100%;
            height: auto;

            @include tablet() {
                width: auto;
                height: pxConvertor2(973.1);
            }


        }

        .glow-wrapper {
            position: absolute;
            left: 48.7vw;
            bottom: 14vw;
            width: 1.5vw;
            height: 57%;

            @include tablet() {
                left: 118vw;
                width: 4vw;
                bottom: 33vw;
            }

            @include mobile() {
                width: 6vw;
                left: 117vw;
            }
        }

        .hand {

            position: absolute;
            left: 85vw;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 8vw;
            height: 8vw;
            animation-name: swipeSign;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .seagullBox {
        left: 20vw;
        top: 8vw;

        @include tablet() {
            left: 10vw;
            top: 12vw;
        }
    }
}

.forth-page {
    position: relative;
    width: 100%;
    background-color: #ece7e4;
    padding-bottom: 6vw;

    .titleBox {
        display: flex;
        align-items: center;
        margin-left: pxConvertor(178);
        margin-bottom: 4.5vw;

        @include tablet() {

            width: 92.5%;
            margin: 0 auto;
        }

        h2 {
            margin-right: pxConvertor(316);

            @include tablet() {
                margin: 0;
            }
        }

        .paraBox {
            .line {
                left: 0;
            }
        }

    }

    .swiper {
        width: 92.5%;
        height: 35vw;
        margin: 0 auto;

        @include tablet() {
            height: 75vw;
        }

        .swiper-wrapper {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .swiper-slide {
                position: relative;
                width: pxConvertor(554);
                height: pxConvertor(369.33);
                transition: width 0.8s height 0.8s;
                overflow: hidden;

                @include tablet() {
                    width: 100% !important;
                    height: pxConvertor2(479) !important;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.8s;
                }

                .box {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                    opacity: 0;
                    transition: 2s;
                    transform: translateX(50px);

                    .minute {
                        display: flex;
                        align-items: flex-end;
                        font-size: pxConvertor(14);
                        color: #fff;

                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: pxConvertor(38);
                            height: pxConvertor(38);
                            border-radius: 50%;
                            font-size: pxConvertor(36);
                            background-color: #5e524b;
                            font-weight: 100;
                            font-family: 'Roboto Mono', monospace;

                            @include tablet() {
                                font-size: pxConvertor2(48);
                                width: pxConvertor2(54);
                                height: pxConvertor2(54);
                            }
                        }

                        @include tablet() {
                            font-size: pxConvertor2(16);
                        }
                    }

                    .thumb {
                        font-size: pxConvertor(16);
                        color: #fff;
                        letter-spacing: 0.1em;

                        @include tablet() {
                            font-size: pxConvertor2(18);
                        }
                    }
                }
            }

            .swiper-slide-active {
                width: pxConvertor(906) !important;
                height: pxConvertor(608);
                z-index: 20;
                margin-left: -10vw;

                .box {
                    opacity: 1;
                    transform: translateX(0);
                }

                @include tablet() {
                    width: 100% !important;
                    height: pxConvertor2(479) !important;
                    margin: 0;
                }
            }
        }
    }
}

.fifth-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: #ece7e4;
    height: 50vw;


    @include tablet() {
        height: auto;
        padding-bottom: 16vw;
    }

    .titleBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 92.5%;
        margin: 0 auto 4.5vw;

        @include tablet() {
            align-items: center;
        }

        .paraBox {
            .line {
                right: 0;
            }
        }


    }

    .bg {
        display: grid;
        grid-template-columns: repeat(80, 1fr);
        grid-template-rows: repeat(60, 1fr);
        position: absolute;
        left: 7vw;
        top: 13vw;
        width: pxConvertor(1136.35);
        height: pxConvertor(668);

        @include tablet() {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            width: 92.5%;
            margin: 0 auto 10vw;
            height: auto;
            left: auto;
            top: auto;

        }

        .imgBox {
            @include tablet() {
                width: 49%;
                height: pxConvertor2(233.84);
                margin-bottom: 5vw;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:nth-child(1) {
                grid-column-start: 1;
                grid-column-end: 24;
                grid-row-start: 1;
                grid-row-end: 21;
            }

            &:nth-child(2) {
                grid-column-start: 8;
                grid-column-end: 24;
                grid-row-start: 22;
                grid-row-end: 36;
            }

            &:nth-child(5) {
                grid-column-start: 1;
                grid-column-end: 30;
                grid-row-start: 37;
                grid-row-end: 60;
            }

            &:nth-child(7) {
                grid-column-start: 25;
                grid-column-end: 59;
                grid-row-start: 7;
                grid-row-end: 36;
            }

            &:nth-child(3) {
                grid-column-start: 31;
                grid-column-end: 48;
                grid-row-start: 37;
                grid-row-end: 52;
            }

            &:nth-child(4) {
                grid-column-start: 60;
                grid-column-end: 77;
                grid-row-start: 22;
                grid-row-end: 36;
            }

            &:nth-child(6) {
                grid-column-start: 49;
                grid-column-end: 71;
                grid-row-start: 37;
                grid-row-end: 56;
            }
        }
    }

    &> :nth-child(3) {
        margin-bottom: 5vw;
        width: 95%;

        &> :nth-child(1) {
            position: relative;
            margin-right: 9vw;

            @include tablet() {
                margin-right: 25vw;
            }

            &> :last-child {
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    right: -4.5vw;
                    bottom: 0;
                    background-image: url(../img/svg/walk.svg);
                    width: pxConvertor(51.75);
                    height: pxConvertor(99.1);
                    background-size: 100%;
                    background-repeat: no-repeat;

                    @include tablet() {
                        width: pxConvertor2(51.75);
                        height: pxConvertor2(99.1);
                        right: -24vw;
                    }
                }
            }

        }
    }
}

.sixth-page {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10vw 2.5% 0;
    background-color: #ece7e4;
    height: 57vw;
    overflow: hidden;

    @include tablet() {
        flex-direction: column;
        height: auto;
        padding: 30vw 0 12vw;
    }

    .imgBox {
        position: relative;
        width: 65%;
        height: 80%;
        overflow: hidden;

        @include tablet() {
            width: 92.5%;
            height: pxConvertor2(431.5);
            margin-top: 6vw;
        }

        .box {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;

            span {
                position: absolute;
                bottom: 10px;
                font-size: pxConvertor(16);
                color: #fff;
                letter-spacing: 0.1em;

                @include tablet() {
                    font-size: pxConvertor2(18);
                }
            }

            .sun-thumb {
                left: 10px;
            }

            .night-thumb {
                right: 10px;
            }

            img {
                width: 100%;
                height: 100%;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 0);
                object-fit: cover;
                pointer-events: none;
                user-select: none;
                /* standard syntax */
                -webkit-user-select: none;
                /* for Chrome、Safari */
                -moz-user-select: none;
                /* for Mozilla、Firefox */
                z-index: 2;
            }

            &:nth-child(2) {
                clip-path: polygon(0 0, 0 100%, 49.5% 100%, 49.5% 0, 0 0);
            }
        }

        .dragBar {
            display: flex;
            justify-content: space-between;
            padding: 0.4vw;
            align-items: center;
            position: absolute;
            width: 2vw;
            height: 2vw;
            top: 0;
            bottom: 0;
            margin: auto 0;
            left: 48%;
            z-index: 10;
            background-color: #fff;
            border-radius: 50%;
            filter: drop-shadow(0 0 2px #fff);
            cursor: pointer;

            @include tablet() {
                width: 6vw;
                height: 6vw;
                padding: 0 0.8vw;
                left: 46%;
            }

            p {
                user-select: none;
                /* standard syntax */
                -webkit-user-select: none;
                /* for Chrome、Safari */
                -moz-user-select: none;
                /* for Mozilla、Firefox */
                pointer-events: none;
                white-space: nowrap;
                font-size: 0.9vw;
                color: #736357;
                font-weight: 900;
                transform: scale(0.5, 1.5);

                @include tablet() {
                    font-size: 3.5vw;
                }
            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: -50vw;
                width: 5px;
                height: 51vw;
                background-color: #fff;

                @include tablet() {
                    height: 100vw;
                }
            }


        }
    }

    >.titleBox {
        position: absolute;
        left: 3.75%;
        top: 8vw;

        &> :nth-child(2) {
            margin-left: 1.5vw;
        }

        @include tablet() {
            display: block;
            width: 100%;
        }
    }

    .left {
        display: flex;
        justify-content: center;
        width: 35%;

        @include tablet() {
            width: 100%;
        }
    }
}

.seventh-page {
    width: 100%;
    padding: 6.5vw 10%;
    background-color: #978475;
    overflow: hidden;

    @include tablet() {
        padding: 13vw 3.75% 10vw;
    }

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 3vw;

        @include tablet() {
            display: block;
            margin-bottom: 5vw;

        }

        .titleBox {
            .en {
                &:nth-child(2) {
                    margin-left: 1.2vw;

                    @include tablet() {
                        margin-left: 3vw;
                    }
                }
            }

            h2,
            p {
                color: #fff !important;
            }

            .paraBox {
                .line {
                    background-color: #fff;
                }

                .para {
                    br {
                        @include tablet() {
                            display: none;
                        }
                    }

                }
            }
        }

        &> :nth-child(1) {
            @include tablet() {
                display: block;
                margin-bottom: 7.5vw;
            }
        }

        &> :nth-child(2) {
            @include tablet() {
                width: 100%;
            }
        }
    }



    .bottom {
        width: 100%;

        .imgBox {
            position: relative;
            width: 100%;
            overflow: hidden;

            .box {
                display: flex;
                position: relative;
                width: 55%;

                @include tablet() {
                    width: 100%;
                }
            }

            img {
                width: 100%;
                height: auto;

            }

            span {
                position: absolute;
                right: 15px;
                bottom: 15px;
                font-size: pxConvertor(18);
                color: #fff;
                font-family: "Microsoft JhengHei", serif;
                letter-spacing: 0.05em;
                font-weight: 500;
                filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));

                @include tablet() {
                    font-size: pxConvertor2(18);
                }
            }

            &:not(:last-child) {
                margin-bottom: 1.5vw;

                @include tablet() {
                    margin-bottom: 4.5vw;
                }
            }

            .seventh-page-small-text {
                position: absolute;
                bottom: 0;
                right: 5vw;
                width: 30%;

                @include tablet() {
                    display: none;
                }
            }
        }
    }


}

.computer {
    display: block;
}

.phone {
    display: none;
}

@media all and (max-width:821px) {
    .computer {
        display: none;
    }

    .phone {
        display: block;
    }

    video {
        width: 100%;
        height: pxConvertor2(1100);
        object-fit: cover;
        object-position: center center;
    }


}