* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

video {
    display: block;
    width: 100%;

}

img {
    display: block;
    width: 100%;
}

.speaker {
    width: 1.5vw;
    position: absolute;
    right: 1.5vw;
    bottom: 1.5vw;
    cursor: pointer;

}

.speaker img {
    display: none;
    width: 100%;
    pointer-events: none;
}

.speaker .active {
    display: block;
    width: 100%;

}

.computer {
    display: block;
}

.phone {
    display: none;
}

@media all and (max-width:786px) {
    .computer {
        display: none;
    }

    .phone {
        display: block;
    }
}